p.center {
    text-align: center;
    color: rgb(75, 12, 12);
  }
  h1 {
    color: rgb(42, 63, 52);
    text-align: center;
    color: rgb(42, 63, 52);
  font-size: 50px;
    
  
  }
  
  
  
  .center {
    display: block;
    margin-left: 0;
    margin-right: 0;
    
  } 
  
  [data-tabs-content] {
    display: none;
  }
  
  .tabs ul {
    list-style-type: none;
    text-align: center;
    margin: auto;
    overflow: hidden;
    background-color: rgb(119, 240, 129);
    
  }
  
  .tabs li a {
    display: block;
    color: rgb(56, 19, 19);
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium';
  }
  body {
    padding: 0;
    margin: 0;
    
    
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
    background-color: rgb(187, 250, 185);
    position: -webkit-sticky; 
  position: sticky;
  top: 0;
  z-index:10;
  }
  
  .tabs {
    cursor: pointer;
    padding: 10px;
  }
  
  
  .tabs:hover {
    background-color: rgb(67, 134, 73);
  }
  
  .tabs-content {
    margin-left: 20px;
    margin-right: 20px;
  }

  body {
    background-image: url("BG.svg");
    overflow-x: hidden;
    background-size: 100%;
    
    
  }


    #introduction{
    position: relative;
    bottom: 200px;
    left: 400px;
   
    z-index: 1;
    border-radius: 5px;
   border-style: outset;
  
  
   padding: 5px;
   width: 40%;
  
    font-family:'Helvetica';
    font-size: 20px;
  color:rgb(19, 19, 19);
  background-color: #7A9e9f;}

  #demo{
    position: relative;
    bottom: 200px;
    left: 400px;
   
    z-index: 1;
    border-radius: 5px;
   border-style: outset;
  
  
   padding: 5px;
   width: 11%;
  
    font-family:'Helvetica';
    font-size: 20px;
  color:rgb(19, 19, 19);
  background-color: #7A9e9f;
  }

  #hobbybody {position: relative;
        bottom: 190px;
        left: -590px;
       
        z-index: 1;
        
      
      border-radius: 5px;
      
       width: 40%;
      
        font-family:'Helvetica';
        font-size: 20px;
      color:rgb(70, 29, 43, 0.98);
      background-color: #8774FF;
      }
  
  
  